@import "reset-style.css";
@import "header.css";
@import "general.css";
@import "footer.css";
@import "navigation.css";

.about-us {
    margin: 15px;
    font: 14px main-font;
    color: black;
}
.about-us_sad-story {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 7px 7px 3px;
    text-align: right;
}

.about-us_main-description {
    line-height: 150%;
    padding: 7px 7px 3px;
    margin-bottom: 10px;
    text-align: justify;
    position: center;
}