.about-us {
    margin: 15px;
    font: 14px main-font;
    color: black;
}
.about-us_header {
    padding: 7px 7px 3px;
    margin-bottom: 10px;
    font-size: 24px;
    display: inline-block;
    font-weight: bolder;
    text-shadow: var(--logo-dark-purple) 1px 0 2px;
}

.about-us_sad-story {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 7px 7px 3px;
    text-align: left;
    font-weight: bolder;
    text-shadow: var(--logo-dark-purple) 1px 0 2px;
}

.about-us_main-description {
    line-height: 150%;
    padding: 7px 7px 3px;
    margin-bottom: 10px;
    text-align: justify;
    font-weight: bolder;
    text-shadow: var(--logo-dark-purple) 1px 0 2px;
}