@import "reset-style.css";
@import "header.css";
@import "general.css";
@import "footer.css";
@import "navigation.css";
.wishlist-creation_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.wishlist-creation_form-header {
    font: 26px main-font;
    margin-bottom: 30px;
    margin-top: 30px;
}

.wishlist-creation_form input, button {
    background-color: var(--logo-dark-purple);
    border: 1px solid var(--logo-dark-purple);
    padding: 10px 10px 5px 10px;
    color: white;
    font: 16px main-font;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    display: block;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font: 14px main-font;
}

.wishlist-creation_form_item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.wishlist-creation_form_item-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 651px) {
    .wishlist-creation_form {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .wishlist-creation_form {
        width: 95%;
    }

}