.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer_text{
    font: 12px main-font;
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer_page-loaded {
    font: 10px main-font;
    margin-bottom: 5px;
}