.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer_text{
    font: 12px main-font;
    margin: 15px;
}

.footer_page-loaded {
    font: 8px main-font;
    margin: 5px;
}