:root {
    --logo-red:#FF99C8;
    --logo-yellow:#FCF6BD;
    --logo-green:#D0F4DE;
    --logo-blue:#A9DEF9;
    --logo-purple:#E4C1F9;
    --logo-dark-purple:#806491;
    --page-color:#fefdee
}

body {
    background-color: var(--page-color);
}

.info {
    margin: 15px;
    font: 16px main-font;
    padding: 7px 7px 3px;
    color: black;
    display: inline-block;
}

a:hover {
    color: var(--logo-dark-purple);
}