@import "reset-style.css";
@import "header-logo.css";
@import "general.css";
@import "footer.css";
@import "navigation.css";

.wishlist-list {
    font: 14px main-font;
}

.wishlist-list {
    margin: 15px;
}

.wishlist-list_header {
    padding: 7px 7px 3px;
    margin-bottom: 10px;
    font: 28px/32px main-font;
    display: inline-block;
    font-weight: bolder;
    text-shadow: var(--logo-dark-purple) 1px 0 2px;
}

.wishlist-list_item {
    margin: 15px 10px 15px 0;
    padding: 7px 7px 3px;
}

.wishlist-list_item-text {
    color: black;
    font: 18px/22px main-font;
}

