@import "reset-style.css";
@import "logo-header.css";
@import "general.css";
@import "footer.css";
@import "navigation.css";

.wishlist-list {
    font: 14px main-font;
}

.wishlist-list {
    margin: 15px;
}

.wishlist-header {
    font-size: 24px;
    display: inline-block;
    padding: 7px 7px 3px;
    background-color: white;
    border-radius: 7pt;
}

