.header_navigation {
    display: flex;
}
.navigation {
    margin: 10px;
    position: absolute;
}

.navigation_list-item {
    margin: 5px 5px 5px 0;
    padding: 7px 7px 3px;
    background-color: white;
    border-radius: 7pt;
    display: table;
    box-shadow: 0 0 1px var(--logo-dark-purple);
}

.navigation_list-item_text {
    color: black;
    font: 18px main-font;
}
