/*.header_navigation {*/
/*    display: flex;*/
/*}*/
.navigation {
    margin: 15px;
    display: block;
    text-align: center;
}
.navigation_list-item_text {
    font: 18px main-font;
    color: black;
}

.navigation_list-item {
    margin: 5px 5px 5px 0;
    padding: 7px 7px 3px;
    text-align: center;
}

@media screen and (min-width: 651px) {
    .navigation_list-item {
        margin: 5px 5px 5px 0;
        padding: 7px 7px 3px;
        background-color: white;
        border-radius: 7pt;
        display: table;
        box-shadow: 0 0 1px var(--logo-dark-purple);
    }
}


