.wishlist {
    margin: 15px;
}

.wishlist_title {
    padding: 7px 7px 3px;
    margin-bottom: 10px;
    font: 28px/32px main-font;
    display: inline-block;
}

.wishlist_item {
    margin: 15px 10px 15px 0;
    padding: 7px 7px 3px;
}

.wishlist_item_text {
    color: black;
    font: 18px/22px main-font;
}

.wishlist-table tr:nth-child(even) {
    background-color: var(--logo-yellow);
}

.wishlist-table tr:nth-child(odd) {
    background-color: var(--logo-red);
}

.wishlist-table {
    width: 100%;
}
.wishlist_title-table {
    padding: 7px 7px 3px;
    margin-bottom: 10px;
    font: 28px/32px main-font;
    display: inline-block;
    font-weight: bolder;
    text-shadow: var(--logo-dark-purple) 1px 0 2px;
}